.settings/
dprs-common/.settings/
dprs-facade/.settings/
dprs-service/.settings/
dprs-web/.settings/

dprs-common/target/
dprs-facade/target/
dprs-service/target/
dprs-web/target/

.classpath
dprs-common/.classpath
dprs-facade/.classpath
dprs-service/.classpath
dprs-web/.classpath

.project
dprs-common/.project
dprs-facade/.project
dprs-service/.project
dprs-web/.project

dprs.iml
dprs-common/dprs-common.iml
dprs-facade/dprs-facade.iml
dprs-service/dprs-service.iml
dprs-web/dprs-web.iml

README.md
.idea/

bin/
dprs-web/bin/
.externalToolBuilders/org.eclipse.jdt.core.javabuilder.launch

